* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}



header {
    width: 100%;
    background-color: #212121;
}

.menucontainer {
    padding: 0 16px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

main{
    background-color: #181818;
}

.left-nav {
    display: flex;
    align-items: center;
}

.icon-container {
    padding: 8px;
}

.material-icons-outlined.light {
    color: rgb(255, 255, 255);
}

.material-icons-outlined.blue {
    color: #3ea6ff;
}

span{
}

.logo-container {
    padding: 18px 14px 18px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 90px;
    height: 20px;
}



.middle-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-background {
    border: 1px solid;
    padding: 2px 6px;
    background-color: #121212;
}

.search {
    width: 559px;
    height: 34px;
    padding: 1px 2px;
    border: 0;
    background-color: #121212;
    margin-left: 4px;

}

.search::placeholder {
    font-size: 16px;
    font-family: Roboto;

}

.search-button-container {
    background-color: rgb(48, 48, 48);
    width: 50px;
    height: 36px;
    padding: 1px 6px;
    border: 1px solid rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}

.voice-search-container {
    background-color: #181818;
    border-radius: 50%;
    padding: 8px;
    margin-left: 4px;
}



.right-nav {
    display: flex;
}

.app-menu-container {
    padding: 8px;
}

.settings-container {
    padding: 8px;
    margin-right: 8px;
}

.signin-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 28px;
    padding: 5px 11px;
    border: 1px solid #3ea6ff;
}

#sign-in-text {
    color: #3ea6ff;
    font-size: 14px;
    margin-left: 8px

}





.video-container{
    margin-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}

.video-def{
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

video-tags{
    display: block;
}

.video-tags a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(62,166,255);
}

.video-main-title h1{
color: rgb(255,255,255);
font-weight: 400;
font-size: 18px
}